name: Terraform Destroy

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.AWS_ROLE_ARN}}
          aws-region: ${{secrets.AWS_REGION}}

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
      - run: terraform destroy -auto-approve
# ---------------------------
      # TFLint (Static Analysis)
      # ---------------------------
      # - name: Setup TFLint
      #   uses: terraform-linters/setup-tflint@v4

      # - name: Init TFLint
      #   run: tflint --init

      # - name: Run TFLint
      #   run: tflint -f compact

      # ---------------------------
      # Checkov (Security Scan)
      # ---------------------------
      # - name: Run Checkov
      #   uses: bridgecrewio/checkov-action@v12
      #   with:
      #     directory: .
      #     framework: terraform
      #     output_format: cli
      #     quiet: true
      #     soft_fail: true   # false will fail pipeline if security issues found